.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5rem 0.5rem;
    grid-auto-flow: row;
    grid-template-areas:
      "box1 middle box2"
      "box3 middle box4";
    height: 30rem;
    width: 100%;
  }
  
  .middle { grid-area: middle; height: 30rem; }
  .middle img {
    height: 100%;
    width: 100%;
  }
  .box1 { grid-area: box1; max-height: 15rem; }
  .box1 img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  
  .box2 { grid-area: box2; }
  .box2 img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  .box3 { grid-area: box3; }
  .box3 img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }
  .box4 { grid-area: box4; }
  .box4 img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
  }

  .collageItem {
    border-radius: 1rem;
    height: 100%;
    widtH: 100%;
    position: relative;
    /* object-fit: cover; */
    object-position: center;
  }
  .collageItem:before {
    border-radius: 1rem;
    content: '';
    display: block;
    position: absolute;
    height:20%;
    width: 100%;
    bottom: 0;
    transition: height 0.5s ease-out;
    background: linear-gradient(to bottom, transparent 0%, black 100%);
  }
  .collageItem:hover:before {
    height: 100%;
  }
  .collageItem:hover p {
    display: block;
  }

  .collageItemContent {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    color: white;
    box-shadow: 0.4 black;
  }
  .collageItemContent h3{
    font-weight: var(--fontWeightBold);
    font-size: var(--fontSizeLarge);
  }

  .collageItemContent p{
    display: none;
    font-weight: var(--fontWeightLight);
    font-size: var(--fontSizeSmall);
  }