.col3Section {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.sect1 {
  background-color: black;
  height: 200px;
}
.sect2 {
  background-color: rgba(236, 169, 169, 0.877);
  height: 200px;
}
.sect3 {
  background-color: rgb(219, 26, 26);
  height: 200px;
}
@media (max-width: 780px) {
  .col3Section {
    grid-template-columns: 1fr;
  }
}
