:root {
  --primary700: #a45500;
  --primary600: #d26e00;
  --primary500: #f07d00;
  --primary400: #f39733;
  --primary300: #f5a854;
  --primary200: #f8c38a;
  --primary100: #fad7b0;
  --primary50: #fef2e6;
  --primary: var(--primary600);
  --secondary600: #313131;
  --secondary500: #363636;
  --secondary400: #5e5e5e;
  --secondary300: #787878;
  --secondary200: #a3a3a3;
  --secondary100: #c1c1c1;
  --secondary50: #ebebeb;
  --secondary: var(--secondary600);
  --success600: #29a472;
  --success500: #2db47d;
  --success400: #57c397;
  --success300: #72cda8;
  --success200: #9eddc3;
  --success100: #bee8d7;
  --success50: #eaf8f2;
  --success: var(--success500);
  --warning600: #e89d00;
  --warning500: #ffac00;
  --warning400: #ffbd33;
  --warning300: #ffc754;
  --warning200: #ffd98a;
  --warning100: #ffe5b0;
  --warning50: #fff7e6;
  --warning: var(--warning600);
  --error600: #e85851;
  --error500: #ff6159;
  --error400: #ff817a;
  --error300: #ff9590;
  --error200: #ffb6b3;
  --error100: #ffcecc;
  --error50: #ffefee;
  --error: var(--error600);
  --neutral600: #595959;
  --neutral500: #626262;
  --neutral400: #818181;
  --neutral300: #969696;
  --neutral200: #b7b7b7;
  --neutral100: #cecece;
  --neutral80: #d8d8d8;
  --neutral50: #efefef;
  --neutral40: #f2f2f2;
  --neutral: var(--neutral600);
  --black: #000000;
  --white: #ffffff;
  --brandTeal: #7ac5cd;
  --brandBlue: #4778e9;
}
