/* @import url('../../styling/breakpoints.css'); */
@value breakpoints: '../../styling/breakpoints.css';
@value xs, md, lg, xl from breakpoints;
.header {
    background-color: blue;
    width: 100%;
}
.slideWrapper {
    height: 32rem;
    /* overflow-y: hidden; */
}
.slideItem {
    width: 100%;
    height: 30rem;
    /* aspect-ratio: 1/2; */
    object-fit: cover;
    /* padding-bottom: 2rem; */
}
ul.slick-dots {
    /* position: absolute; */
    /* top: 20%; */
    color: blue;
}
.otherSections {
    justify-content: center;
    background-color: var(--neutral50);
    border-radius: 5rem;
    /* position: relative; */
    /* height: 10rem; */
    /* bottom: 5%; */
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
    width: 80%;
}
.otherSectionsContent {
    position: relative;
    top: 0;
    padding: 2rem 5rem;

}

@media (max-width: lg) {
    .otherSections {
        width: 100%;
        position: inherit;
        background-color: var(--white);
        /* margin-top: 10rem 2rem; */
    }
    
    
}