.header {
    background-color: blue;
    width: 100%;
}
.slideWrapper {
    height: 25rem;
    /* overflow-y: hidden; */
}
.slideItem {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    /* padding-bottom: 2rem; */
}
ul.slick-dots {
    position: absolute;
    top: 20%;
    color: blue;
}
.otherSections {
    background-color: red;
    border-radius: 5rem 5rem 0 0;
    position: absolute;
    top: 40%;
    /* margin-left: 5rem; */
    /* margin-right: 5rem; */
    width: 100%;
}