.header {
    background-color: blue;
    height: 30rem;
    position: relative;
}
.otherSections {
    background-color: red;
    border-radius: 5rem 5rem 0 0;
    position: absolute;
    top: 30%;
    /* margin-left: 5rem; */
    margin-right: 5rem;
    width: 100%;
}