/* @import url('../../styling/breakpoints.css'); */
@value breakpoints: '../../styling/breakpoints.css';
@value xs, sm, md, lg, xl, xxl from breakpoints;
.destinationItem {
    width: 8rem;
    height: 6rem;
    text-align: center;
    padding: 2rem 2rem;

}

.destinationItem img {
    border-radius: 5rem;
    outline-color: var(--primary);
    outline-style: solid;
    width: 6rem;
    height: 6rem;
    object-fit: fill;
    margin-bottom: 0;
}

.destinationList {
    padding: 1rem 2rem;
}


/* @media (max-width: sm) {
    .destinationList {
        grid-template-columns: 1fr;
    } 
}
@media (max-width: md) {
    .destinationList {
        grid-template-columns: repeat(5, 1fr);
    } 
}
@media (max-width: lg) {
    .destinationList {
        grid-template-columns: repeat(5, 1fr);
    } 
}
@media (max-width: xl) {
    .destinationList {
        grid-template-columns: repeat(5, 1fr);
    }
    
} */

