@import url('./styling/colors.css');
@font-face {
  font-family: 'Roboto Thin';
  src: url('./styling/fonts/Roboto-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Thin Italic';
  src: url('./styling/fonts/Roboto-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Light';
  src: url('./styling/fonts/Roboto-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Light Italic';
  src: url('./styling/fonts/Roboto-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('./styling/fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('./styling/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Medium Italic';
  src: url('./styling/fonts/Roboto-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('./styling/fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Bold Italic';
  src: url('./styling/fonts/Roboto-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Roboto Black';
  src: url('./styling/fonts/Roboto-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Black Italic';
  src: url('./styling/fonts/Roboto-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

:root {
    /* Font family */
    --fontFamilyThin: 'Roboto Thin', Arial, sans-serif;
    --fontFamilyThinItalic: 'Roboto Thin Italic', Arial, sans-serif;
    --fontFamilyLight: 'Roboto Light', Arial, sans-serif;
    --fontFamilyLightItalic: 'Roboto Light Italic', Arial, sans-serif;
    --fontFamilyRegular: 'Roboto Regular', Arial, sans-serif;
    --fontFamilyMedium: 'Roboto Medium', Arial, sans-serif;
    --fontFamilyMediumItalic: 'Roboto Medium Italic', Arial, sans-serif;
    --fontFamilyBold: 'Roboto Bold', Arial, sans-serif;
    --fontFamilyBoldItalic: 'Roboto Bold Italic', Arial, sans-serif;
    --fontFamilyBlack: 'Roboto Black', Arial, sans-serif;
    --fontFamilyBlackItalic: 'Roboto Black Italic', Arial, sans-serif;


    /* Font weights */
    --fontWeightThin: 100;
    --fontWeightLight: 300;
    --fontWeightNormal: 400;
    --fontWeightMedium: 500;
    --fontWeightBold: 700;
    --fontWeightBlack: 900;

    /* Font sizes */
    --fontSizeBase: 1rem;
    --fontSizeExtraSmall: 0.75rem;
    --fontSizeSmall: 0.87rem;
    --fontSizeMedium: 1rem;
    --fontSizeLarge: 1.25rem;
    --fontSizeExtraLarge: 1.5rem;
    --fontSizeDoubleExtraLarge: 2rem;

    /* Line heights */
    --lineHeightExtraSmall: 1.2rem;
    --lineHeightSmall: 1.4rem;
    --lineHeightMedium: 1.6rem;
    --lineHeightLarge: 2rem;
    --lineHeightExtraLarge: 2.4rem;
    --lineHeightDoubleExtraLarge: 3.2rem;

    /* Colors */


    /* Spacing */
    --spacingDoubleExtraSmall: 0.25rem;
    --spacingExtraSmall: 0.5rem;
    --spacingSmall: 1rem;
    --spacingMedium: 1.5rem;
    --spacingLarge: 2rem;
    --spacingExtraLarge: 3rem;
    --spacingDoubleExtraLarge: 4rem;
}

html,
body {
  font-family: var(--fontFamilyRegular);
  font-weight: var(--fontWeightNormal);
  margin: 0;
  width: 100wh;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--fontFamilyRegular);
  margin-bottom: 1rem;
  margin-top: 0;
}

p {
  font-family: var(--fontFamilyRegular);
  margin-bottom: 1rem;
  margin-top: 0;
}

a {
  font-family: var(--fontFamilyRegular);
}

b, strong {
  font-family: var(--fontFamilyBold);
}
