/* @import url('../../styling/customize.css'); */
.ctaButton {
    display: inline-block;
    padding: 0.3rem 1rem;
    background-color: var(--primary);
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }
  /* https://source.unsplash.com/random */
.mySlides {display:block}
.w3-left, .w3-right, .w3-badge {cursor:pointer}
.w3-badge {height:13px;width:13px;padding:0}

.banner {
    width: 100%;
    object-fit: cover;
    height: 20rem;
    max-height: 10%;
}